{{> menu active="about"}}

<section class="hero">
  <div class="hero-body has-text-centered">
    <p class="title ">
      Placemark : Organise and manage your holidays </p>
    <div class="box">
      <div class="intro">
        <h1>Welcome to Placemark</h1>
        <p>Plan your dream vacation with ease!</p>
        <ul class="features">
          <li><i class="fas fa-map-marker-alt"></i> Add city locations to explore</li>
          <li><i class="fas fa-search-location"></i> Discover businesses around each location</li>
          <li><i class="fas fa-store-alt"></i> Businesses categorized for easy exploration</li>
        </ul>
      </div>
    </div>
</section>