{{> admin-menu active="admin-dashboard"}}
<div class="card">
    <div class="card-content">
        <div class="block">
            <h2 class="title">Admin Dashboard</h2>
            <ul>
                <li><i class="fas fa-check"></i> Delete City Locations</li>
                <li><i class="fas fa-check"></i> Delete User Accounts</li>
            </ul>
        </div>
        <div class="content">
            {{> admin-analytics }}
        </div>
    </div>
</div>
<section class="section">
    {{> admin-list-user }}
    {{> admin-list-location}}
</section>