{{> welcome-menu}}

<div class="columns">
  <div class="column">
    <!-- First Section -->
    <section class="section">
      <img src="/images/png/mainLogo.png" alt="Vacation">
    </section>
  </div>
  <div class="column">
    <!-- Second Section -->
    <section class="section has-text-centered">
      <h1 class="title">Placemark</h1>
      <section>
        <div class="block">
          <p class="is-size-6 has-text-weight-bold">Welcome to our vacation website! Explore top holiday destinations
            worldwide with ease.</p>
        </div>
        <div class="block">
          <p class="is-size-6 has-text-weight-bold">Discover exciting activities, cozy accommodations, and delectable
            dining options at your favorite locations.</p>
        </div>
        <div class="block">
          <p class="is-size-6 has-text-weight-bold">From thrilling adventures to relaxing getaways, we've got everything
            you need for the perfect vacation.</p>
        </div>
        <div class="block">
          <p class="is-size-6 has-text-weight-bold">Sign up or Log in...</p>
        </div>
        <div class="block">
          <div class="buttons is-centered">
            <a class="button is-primary is-medium" id="login" href="/login"> Log in </a>
            <a class="button is-primary is-medium" id="signup" href="/signup"> Sign up </a>
          </div>
        </div>
      </section>
      <section class="section has-text-centered">
        <div class="block">
          <p class="is-size-6 has-text-weight-bold">Are you a business owner?</p>
          <p class="is-size-6 has-text-weight-bold">Put you business on the map by adding it to the Placemark app</p>
        </div>
                <div class="block">
          <div class="buttons is-centered">
            <a class="button is-danger is-medium" id="owner" href="/ownerLogin">Business Account</a>
          </div>
        </div>
      </section>
  </div>