<form action="/dashboard/addlocation" method="POST">
    <label class="label">Add Favourite City</label>
    <div class="field is-horizontal">
        <div class="field-body">
            <div class="field">
                <input class="input" type="text" placeholder="Enter city name" name="title">
            </div>
            <div class="field">
                <input class="input" type="text" placeholder="Enter city image URL" name="imageURL">
            </div>
        </div>
    </div>
    <button class="button is-link">Add Location</button>
</form>