<footer class="card-footer">
    <div class="card-footer-item">
        <p class="title is-4">Number of Users: {{numUsers}}</p>
    </div>
    <div class="card-footer-item">
        <p class="title is-4">Number of Locations: {{numLocation}}</p>
    </div>
        <div class="card-footer-item">
        <p class="title is-4">Number of Businesses: {{numBusiness}}</p>
    </div>
</footer>