<section class="section">
    <div class="title">
        {{business.title}}
    </div>
    <div class="box">
        <div class="block">
            <label class="label">Address: </label>
            {{business.address}}
        </div>
        <div class="block">
            <label class="label">Category: </label>{{business.category}}
        </div>
        <div class="block">
            <label class="label">Description: </label>{{business.description}}
        </div>
    </div>
</section>