<h1 class="title">Reviews</h1>
{{#each business.reviews}}
<div class="box box-link-hover-shadow">
    <div class="content">
        <h3 class="title">Review</h3>
        <p><strong>Rating:</strong> {{rating}}</p>
        <p><strong>Content:</strong> {{content}}</p>
    </div>
</div>
{{/each}}