<nav class="navbar">
    <div class="navbar-brand">
        {{> placemark-brand}}
    </div>
    <div class="navbar-menu" id="ownerMenu">
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a id="owner-mailbox" class="button" href="/ownermail"> Mailbox </a>
                    <a id="owner-suggestions" class="button" href="/ownersuggestion"> Suggest City </a>
                    <a id="owner-dashboard" class="button" href="/owner"> Owner Dashboard </a>
                    <a id="logout" class="button" href="/logout"> Logout </a>
                </div>
            </div>
        </div>
    </div>
</nav>