<div class="title p-3 is-flex">
  {{!-- <i style="font-size: 48px; color: Dodgerblue;" class="fas fa-icons"></i> --}}
  <img class="mainIcon" src="/images/icons/mainLogo.png" alt="Vacation">
  <div class="ml-4">Placemark</div>
</div>
